body{
    margin: 0;
}

.baner{
    background-color: rgb(48, 27, 94);
    color: white;
    font-size: 120%;
    text-align: center;
    height: 80px;
}
.baner > h1{
    margin: 0;
}

.lewy{
    background-color: rgb(127, 118, 158);
    width: 25%;
    height: 500px;
    color: white;
    float: left;
}

.prawy{
    background-color: rgb(220, 220, 220);
    width: 75%;
    height: 500px;
    font-size: 110%;
    float: left;
}

.stopka{
    clear: both;
    background-color: rgb(127, 118, 158);
    color: white;
    text-align: center;
    height: 80px;
}

table, td{
    border: 1px solid white;
}