body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.blok1{
    background-color: #983713;
    float: left;
    height: 100px;
    width: 17%;
}

.blok2{
    background-color: #983713;
    float: left;
    height: 100px;
    width: 49%;
    text-align: center;
}

.blok3{
    background-color: #983713;
    float: left;
    height: 100px;
    width: 17%;
}

.blok4{
    background-color: #983713;
    float: left;
    height: 100px;
    width: 17%;
}

.lewo{
    background-color: #FF7F50;
    float: left;
    height: 700px;
    width: 80%;
}

.prawo{
    background-color: #FF7F50;
    float: left;
    height: 700px;
    width: 20%;
}

.stopka{
    background-color: #983713;
    float: left;
    height: 40px;
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 0;
}

.input {
    color: orange;
}

.guz{
    background-color: #D3D3D3;
    color: #2F2F2F;
    border: 2px solid #2F2F2F;
    margin: 10px ;
    padding: 10px 30px ;
}