body{
    font-family: Helvetica;
    margin: 0;
}

.baner ,.stop{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
}

/* .stopka{
    background-color: 70, 130, 180;
    color: white;
    height: 30px;
    text-align: center;
} */

.glowny{
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;
}
.lewy{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;
    float: left;
}

.clr{
    clear: both;
    height: 0;
}

.prawy{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;
    float: left;
}
.glowny > img{
    padding: 3px;
    border: 1px dashed blue;
}

.lewy > img{
    height: 30%;

}

.lewy > img:hover{
    border: 1px solid white;
}