body{
    margin: 0;
    background-color: #F6E5DC;
    font-family: Verdana;

}
.clr{
    clear: both;
    height: 0;
}

.baner{
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;

}
.lewy{
    float: left;
    width: 60%;
}

.prawy{
    float: left;

    font-size: 150%;
    padding: 70px;
}

.dol{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}

.stopka{
    background-color: #2F180C;
    color: khaki;
}
img{
    height: 350px;
}

button{
    margin: 10px;
    padding: 5px;
    background-color: #2F190C;
    color: khaki;
}
h1, p{
    margin: 0;
}